@page "/"
@inject HttpClient _client;

<PageTitle>Home</PageTitle>

<Header isHome="@true"/>

<div class="trending mt-3">
    <h4>Trending TV Shows</h4>
    @if (result != null)
    {
        <div class="trending-shows d-flex justify-content-between">
            @foreach (var show in result.results.Take(6))
            {
                <NavLink href="@($"show/details/{show.id}")">
                    <div class="poster">
                        <div class="overlay">
                            @show.original_name
                        </div>
                        <img src="@show.poster_path" width="200px" />
                    </div>
                </NavLink>
            }
        </div>
    }
    else
    {
        <h6>@errorString</h6>
    }
</div>

@code {
    TrendingShowsResult result;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            result = await _client.GetFromJsonAsync<TrendingShowsResult>("shows/trending?time_window=day&page=1");
            errorString = null;
        }
        catch (Exception ex)
        {
            errorString = ex.Message;
        }
    }
}

